<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/windowcurtainms?useUnicode=true&amp;characterEncoding=UTF-8</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">admin</prop>
                <prop key="hibernate.show_sql">false</prop>

            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.wcms.entity.CurtainEntity</value>
                <value>com.wcms.entity.CustomerEntity</value>
                <value>com.wcms.entity.AfterSalesServiceEntity</value>
                <value>com.wcms.entity.TestTableEntity</value>
                <value>com.wcms.entity.BusinessEntity</value>
                <value>com.wcms.entity.EmployeeEntity</value>
                <value>com.wcms.entity.MaterialEntity</value>
                <value>com.wcms.entity.OrderDetailEntity</value>
                <value>com.wcms.entity.OrderlEntity</value>
                <value>com.wcms.entity.ProcurementEntity</value>
                <value>com.wcms.entity.ProcurementDetailEntity</value>
                <value>com.wcms.entity.ReturnDetailEntity</value>
                <value>com.wcms.entity.ReturnlEntity</value>
                <value>com.wcms.entity.SalaryEntity</value>
                <value>com.wcms.entity.SupplierEntity</value>
                <value>com.wcms.entity.UseMaterialDetailEntity</value>
                <value>com.wcms.entity.WarehouseEntity</value>
            </list>
        </property>
    </bean>

    <!-- Dao-->
    <bean id="afterSalesServiceDao" class="com.wcms.dao.AfterSalesServiceDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="businessDao" class="com.wcms.dao.BusinessDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="curtainDao" class="com.wcms.dao.CurtainDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="customerDao" class="com.wcms.dao.CustomerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="employeeDao" class="com.wcms.dao.EmployeeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="materialDao" class="com.wcms.dao.MaterialDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDao" class="com.wcms.dao.OrderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDetailDao" class="com.wcms.dao.OrderDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="procurementDao" class="com.wcms.dao.ProcurementDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="procurementDetailDao" class="com.wcms.dao.ProcurementDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="returnDetailDao" class="com.wcms.dao.ReturnDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="returnlDao" class="com.wcms.dao.ReturnlDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="salaryDao" class="com.wcms.dao.SalaryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="supplierDao" class="com.wcms.dao.SupplierDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="useMaterialDetailDao" class="com.wcms.dao.UseMaterialDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="warehouseDao" class="com.wcms.dao.WarehouseDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Server-->
    <bean id="server" class="com.wcms.service.Server">
        <property name="baseDao" ref="curtainDao"/>
    </bean>

    <bean id="customerCrudService" class="com.wcms.service.CustomerCrudService">
        <property name="customerDao" ref="customerDao"/>
    </bean>

    <bean id="curtainCrudService" class="com.wcms.service.CurtainCrudService">
        <property name="curtainDao" ref="curtainDao"/>
    </bean>

    <bean id="materialCrudService" class="com.wcms.service.MaterialCrudService">
        <property name="materialDao" ref="materialDao"/>
    </bean>

    <bean id="supplierCrudService" class="com.wcms.service.SupplierCrudService">
        <property name="supplierDao" ref="supplierDao"/>
    </bean>

    <bean id="warehouseCrudService" class="com.wcms.service.WarehouseCrudService">
        <property name="warehouseDao" ref="warehouseDao"/>
    </bean>


    <!--事务拦截器-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <bean id="transactionInterceptor"
          class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <!-- 这里的方法签名可以精确到方法, 先懒惰一下全配置上 -->
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>service</value>
                <value>*Service</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>


    <!-- Action-->

    <bean id="customerCrudAction" class="com.wcms.web.action.CustomerCrudAction" scope="prototype">
        <property name="customerCrudService" ref="customerCrudService"/>
    </bean>

    <bean id="curtainCrudAction" class="com.wcms.web.action.CurtainCrudAction" scope="prototype">
        <property name="curtainCrudService" ref="curtainCrudService"/>
    </bean>

    <bean id="materialCrudAction" class="com.wcms.web.action.MaterialCrudAction" scope="prototype">
        <property name="materialCrudService" ref="materialCrudService"/>
    </bean>

    <bean id="supplierCrudAction" class="com.wcms.web.action.SupplierCrudAction" scope="prototype">
        <property name="supplierCrudService" ref="supplierCrudService"/>
    </bean>

    <bean id="warehouseCrudAction" class="com.wcms.web.action.WarehouseCrudAction" scope="prototype">
        <property name="warehouseCrudService" ref="warehouseCrudService"/>
    </bean>
</beans>