<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--sessionFactory-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/windowcurtainms?useUnicode=true&amp;characterEncoding=UTF-8</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--<prop key="hibernate.current_session_context_class">thread</prop>-->
                <prop key="hibernate.connection.username">root</prop>
                <prop key="hibernate.connection.password">admin</prop>
                <prop key="hibernate.show_sql">false</prop>

            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.wcms.entity.CurtainEntity</value>
                <value>com.wcms.entity.CustomerEntity</value>
                <value>com.wcms.entity.AfterSalesServiceEntity</value>
                <value>com.wcms.entity.TestTableEntity</value>
                <value>com.wcms.entity.BusinessEntity</value>
                <value>com.wcms.entity.EmployeeEntity</value>
                <value>com.wcms.entity.MaterialEntity</value>
                <value>com.wcms.entity.OrderDetailEntity</value>
                <value>com.wcms.entity.OrderlEntity</value>
                <value>com.wcms.entity.ProcurementEntity</value>
                <value>com.wcms.entity.ProcurementDetailEntity</value>
                <value>com.wcms.entity.ReturnDetailEntity</value>
                <value>com.wcms.entity.ReturnlEntity</value>
                <value>com.wcms.entity.SalaryEntity</value>
                <value>com.wcms.entity.SupplierEntity</value>
                <value>com.wcms.entity.UseMaterialDetailEntity</value>
                <value>com.wcms.entity.WarehouseEntity</value>
            </list>
        </property>
    </bean>

    <!-- Dao-->
    <bean id="afterSalesServiceDao" class="com.wcms.dao.AfterSalesServiceDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="businessDao" class="com.wcms.dao.BusinessDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="curtainDao" class="com.wcms.dao.CurtainDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="customerDao" class="com.wcms.dao.CustomerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="employeeDao" class="com.wcms.dao.EmployeeDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="materialDao" class="com.wcms.dao.MaterialDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDao" class="com.wcms.dao.OrderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDetailDao" class="com.wcms.dao.OrderDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="procurementDao" class="com.wcms.dao.ProcurementDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="procurementDetailDao" class="com.wcms.dao.ProcurementDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="returnDetailDao" class="com.wcms.dao.ReturnDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="returnlDao" class="com.wcms.dao.ReturnlDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="salaryDao" class="com.wcms.dao.SalaryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="supplierDao" class="com.wcms.dao.SupplierDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="useMaterialDetailDao" class="com.wcms.dao.UseMaterialDetailDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="warehouseDao" class="com.wcms.dao.WarehouseDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Server-->
    <bean id="server" class="com.wcms.service.Server">
        <property name="baseDao" ref="curtainDao"/>
    </bean>

    <bean id="customerCrudService" class="com.wcms.service.CustomerCrudService">
        <property name="customerDao" ref="customerDao"/>
    </bean>

    <bean id="curtainCrudService" class="com.wcms.service.CurtainCrudService">
        <property name="curtainDao" ref="curtainDao"/>
    </bean>

    <bean id="materialCrudService" class="com.wcms.service.MaterialCrudService">
        <property name="materialDao" ref="materialDao"/>
    </bean>

    <bean id="supplierCrudService" class="com.wcms.service.SupplierCrudService">
        <property name="supplierDao" ref="supplierDao"/>
    </bean>

    <bean id="warehouseCrudService" class="com.wcms.service.WarehouseCrudService">
        <property name="warehouseDao" ref="warehouseDao"/>
    </bean>

    <bean id="employeeCrudService" class="com.wcms.service.EmployeeCrudService">
        <property name="employeeDao" ref="employeeDao"/>
    </bean>

    <bean id="afterSalesServiceCrudService" class="com.wcms.service.AfterSalesServiceCrudService">
        <property name="afterSalesServiceDao" ref="afterSalesServiceDao"/>
    </bean>

    <bean id="businessCrudService" class="com.wcms.service.BusinessCrudService">
        <property name="businessDao" ref="businessDao"/>
    </bean>
    <bean id="orderCrudService" class="com.wcms.service.OrderCrudService">
        <property name="orderDao" ref="orderDao"/>
        <property name="customerDao" ref="customerDao"/>
    </bean>
    <bean id="orderDetailCrudService" class="com.wcms.service.OrderDetailCrudService">
        <property name="orderDetailDao" ref="orderDetailDao"/>
        <property name="curtainDao" ref="curtainDao"/>
        <property name="orderDao" ref="orderDao"/>
    </bean>
    <bean id="procurementCrudService" class="com.wcms.service.ProcurementCrudService">
        <property name="procurementDao" ref="procurementDao"/>
        <property name="employeeDao" ref="employeeDao"/>
        <property name="supplierDao" ref="supplierDao"/>
        <property name="warehouseDao" ref="warehouseDao"/>
    </bean>
    <bean id="procurementDetailCrudService" class="com.wcms.service.ProcurementDetailCrudService">
        <property name="procurementDetailDao" ref="procurementDetailDao"/>
        <property name="procurementDao" ref="procurementDao"/>
        <property name="materialDao" ref="materialDao"/>
    </bean>
    <bean id="returnCrudService" class="com.wcms.service.ReturnCrudService">
        <property name="returnlDao" ref="returnlDao"/>
        <property name="employeeDao" ref="employeeDao"/>
        <property name="supplierDao" ref="supplierDao"/>
        <property name="warehouseDao" ref="warehouseDao"/>
    </bean>
    <bean id="returnDetailCrudService" class="com.wcms.service.ReturnDetailCrudService">
        <property name="returnDetailDao" ref="returnDetailDao"/>
        <property name="returnlDao" ref="returnlDao"/>
        <property name="materialDao" ref="materialDao"/>
    </bean>
    <bean id="salaryCrudService" class="com.wcms.service.SalaryCrudService">
        <property name="salaryDao" ref="salaryDao"/>
    </bean>
    <bean id="useMaterialDetailCrudService" class="com.wcms.service.UseMaterialDetailCrudService">
        <property name="useMaterialDetailDao" ref="useMaterialDetailDao"/>
    </bean>


    <!--事务拦截器-->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>
    <bean id="transactionInterceptor"
          class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <!-- 这里的方法签名可以精确到方法, 先懒惰一下全配置上 -->
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="beanNames">
            <list>
                <value>service</value>
                <value>*Service</value>
            </list>
        </property>
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
    </bean>


    <!-- Action-->

    <bean id="customerCrudAction" class="com.wcms.web.action.CustomerCrudAction" scope="prototype">
        <property name="customerCrudService" ref="customerCrudService"/>
    </bean>

    <bean id="curtainCrudAction" class="com.wcms.web.action.CurtainCrudAction" scope="prototype">
        <property name="curtainCrudService" ref="curtainCrudService"/>
    </bean>

    <bean id="materialCrudAction" class="com.wcms.web.action.MaterialCrudAction" scope="prototype">
        <property name="materialCrudService" ref="materialCrudService"/>
    </bean>

    <bean id="supplierCrudAction" class="com.wcms.web.action.SupplierCrudAction" scope="prototype">
        <property name="supplierCrudService" ref="supplierCrudService"/>
    </bean>

    <bean id="warehouseCrudAction" class="com.wcms.web.action.WarehouseCrudAction" scope="prototype">
        <property name="warehouseCrudService" ref="warehouseCrudService"/>
    </bean>

    <bean id="afterSalesServiceCrudAction" class="com.wcms.web.action.AfterSalesServiceCrudAction" scope="prototype">
        <property name="afterSalesServiceCrudService" ref="afterSalesServiceCrudService"/>
    </bean>

    <bean id="businessCrudAction" class="com.wcms.web.action.BusinessCrudAction" scope="prototype">
        <property name="businessCrudService" ref="businessCrudService"/>
    </bean>

    <bean id="employeeCrudAction" class="com.wcms.web.action.EmployeeCrudAction" scope="prototype">
        <property name="employeeCrudService" ref="employeeCrudService"/>
    </bean>

    <bean id="orderCrudAction" class="com.wcms.web.action.OrderCrudAction" scope="prototype">
        <property name="orderCrudService" ref="orderCrudService"/>
    </bean>

    <bean id="orderDetailCrudAction" class="com.wcms.web.action.OrderDetailCrudAction" scope="prototype">
        <property name="orderDetailCrudService" ref="orderDetailCrudService"/>
    </bean>

    <bean id="procurementCrudAction" class="com.wcms.web.action.ProcurementCrudAction" scope="prototype">
        <property name="procurementCrudService" ref="procurementCrudService"/>
    </bean>
    <bean id="procurementDetailCrudAction" class="com.wcms.web.action.ProcurementDetailCrudAction" scope="prototype">
        <property name="procurementDetailCrudService" ref="procurementDetailCrudService"/>
    </bean>
    <bean id="returnCrudAction" class="com.wcms.web.action.ReturnCrudAction" scope="prototype">
        <property name="returnCrudService" ref="returnCrudService"/>
    </bean>
    <bean id="returnDetailCrudAction" class="com.wcms.web.action.ReturnDetailCrudAction" scope="prototype">
        <property name="returnDetailCrudService" ref="returnDetailCrudService"/>
    </bean>
    <bean id="salaryCrudAction" class="com.wcms.web.action.SalaryCrudAction" scope="prototype">
        <property name="salaryCrudService" ref="salaryCrudService"/>
    </bean>
    <bean id="useMateriaDetailCrudAction" class="com.wcms.web.action.UseMateriaDetailCrudAction" scope="prototype">
        <property name="useMaterialDetailCrudService" ref="useMaterialDetailCrudService"/>
    </bean>


</beans>